<div class = "bootstrap-wrapper">
    <div class = "container">
        <div class = "row" style = "margin-top : 20px;">
            <div clazz = "col-md-6 offset-md-3">
                <div class = "container text-center">
                    <img src = "../../../../assets/Pacientes.png" width = "200" height = "200">
                </div>

                <h1 class = "text-center">Inicio de sesión del paciente</h1>

                <form  (ngSubmit) = "formSubmit()">

                    <mat-form-field class = "full-width" appearance = "outline">
                        <mat-label>DNI:</mat-label>
                        <input required [(ngModel)] = "patient.dni" name = "dni" matInput placeholder="Ingrese su DNI">
                    </mat-form-field>

                    <mat-form-field class = "full-width" appearance = "outline">
                        <mat-label>Contraseña:</mat-label>
                        <input required [(ngModel)] = "patient.password" name = "password" matInput placeholder="Ingrese su contraseña">
                    </mat-form-field>

                    <div class = "container text-center">
                        <button class="boton">Iniciar sesión</button>
                        <button type="reset" style = "margin-left: 20px;" class="boton">Limpiar</button>
                    </div>
                    <a [routerLink]="'/patient/signup'" mat-button
                       class="example-icon favorite-icon"
                       aria-label="Example icon-button with heart icon" style="font-size: 16px;">
                        Registrar
                    </a>
                </form>
                <br><br><br>
            </div>
        </div>
    </div>
</div>
