<div class="page-title">
    <h1>Portal Médico</h1>
</div>
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt20">
            <div class = "col-md-6 offset-md-3 text-center">
                <div class="options">
                    <a routerLink="/medic/patientsList" class="option">
                        <div class="option-box">
                            <img src="../../../../assets/Pacientes.png" alt="Pacientes">
                            <span>Ver Mis Pacientes</span>
                        </div>
                    </a>
                    <a routerLink="/medic/linkPatient" class="option">
                        <div class="option-box">
                            <img src="../../../../assets/Atender.png" alt="Pacientes">
                            <span>Atender Paciente</span>
                        </div>
                    </a>
                    <a routerLink="/medic/calendar" class="option">
                        <div class="option-box">
                            <img src="../../../../assets/Programar.png" alt="Pacientes">
                            <span>Agenda</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>