/* home.component.css */
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #f5f5f5;
}

.container {
    margin-top: -100px;
}

html {
    height: 100%; /* Asegura que el html tenga una altura del 100% */
}

.options {
    display: flex;
    justify-content: center;
}

.option {
    margin: 0 10px;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.option-box {
    width: 200px;
    height: 200px;
    background-color:  #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.option-box img { /* Ajusta el ajuste de la imagen */
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.option-box span {
    margin-top: 10px;
}

.boton {
    margin-top: 10px;
    background-color: #3fb5eb;
    color: white;
    font-size: 18px;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px; /* Añade un margen inferior opcional para separar el botón del siguiente elemento */
}