<div class = "bootstrap-wrapper">
    <div class = "container">
        <div class = "row" style = "margin-top : 70px;">
            <div clazz = "col-md-6 offset-md-3">
                <div class="container text-center" style="margin-bottom: -10px;">
                    <img src = "../../../../assets/Medicamentos.png" width = "200" height = "200">
                </div>
                <h1 class = "text-center">Añadir medicamento</h1>
                <h5 class="text-center">Paciente:</h5>
                <div class="page-container" style="margin-bottom: -110px;">
                    <form  (ngSubmit) = "formSubmit()">
                        <mat-form-field class = "full-width" appearance = "outline">
                            <mat-label>Nombre del medicamento:</mat-label>
                            <input required [(ngModel)] = "medicine.medicineName" name = "medicineName" matInput placeholder="Ingrese el nombre del medicamento">
                        </mat-form-field>

                        <mat-form-field class = "full-width" appearance = "outline">
                            <mat-label>Compuesto activo:</mat-label>
                            <input required [(ngModel)] = "medicine.activeIngredient" name = "activeIngredient" matInput placeholder="Ingrese el nombre del compuesto activo">
                        </mat-form-field>

                        <mat-form-field class = "full-width" appearance = "outline">
                            <mat-label>Laboratorio:</mat-label>
                            <input required [(ngModel)] = "medicine.lab" name = "lab" matInput placeholder="Ingrese el nombre del laboratorio al que pertenece le medicamento">
                        </mat-form-field>

                        <mat-form-field class = "full-width" appearance = "outline">
                            <mat-label>Dosis:</mat-label>
                            <input [(ngModel)] = "medicine.description" name = "description" matInput placeholder="Ingrese la descripción del medicamento">
                        </mat-form-field>

                        <div class = "container text-center">
                            <button class="boton">Añadir</button>
                            <button type="reset" style = "margin-left: 20px;" class="boton">Limpiar</button>
                        </div>

                    </form>
                    <br><br><br>
                </div>
            </div>
        </div>
    </div>
</div>


