<div class = "bootstrap-wrapper">
    <div class = "container">
        <div class = "row" style = "margin-top : 20px;">
            <div clazz = "col-md-6 offset-md-3">
                <div class = "container text-center" style="margin-bottom: -10px;">
                    <img src = "../../../../assets/Estudios.png" width = "200" height = "200">
                </div>
                <h1 class = "text-center">Añadir estudio</h1>
                <h6 class="text-center">Paciente: {{ patient?.name }} {{ patient?.lastname }}, DNI: {{ patient?.dni }}</h6>
                <div class="page-container" style="margin-bottom: -110px;">
                <form  (ngSubmit) = "formSubmit()">

                    <mat-form-field class = "full-width" appearance = "outline">
                        <mat-label>Nombre del estudio:</mat-label>
                        <mat-select
                            [(ngModel)] = 'analysis.name'
                            name = "name">
                            <mat-option
                                    *ngFor = "let option of analysisOptions"
                                    [value] = "option">
                                    {{ option }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class = "full-width" appearance = "outline">
                        <mat-label>Descripción:</mat-label>
                        <input [(ngModel)] = "analysis.description" name = "description" matInput placeholder="Ingrese la descripción del estudio">
                    </mat-form-field>

                    <mat-form-field class = "full-width" appearance = "outline">
                        <mat-label>Centro médico:</mat-label>
                        <mat-select
                            [(ngModel)] = 'analysis.medicalCenter'
                            name = "medicalCenter">
                            <mat-option
                                    *ngFor = "let option of medicalCenterOptions"
                                    [value] = "option">
                                    {{ option }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>



                    <div class = "container text-center">
                        <button class="boton">Añadir</button>
                        <button type="reset" style = "margin-left: 20px;" class="boton">Limpiar</button>
                    </div>

                </form>
                <br><br><br>
            </div>
        </div>
    </div>
</div>
</div>
