<h1 class="text-center">Mis Medicamentos</h1>
<br>
<table class="table table-striped">
    <thead class="table-dark">
    <tr>
        <th>Medicación</th>
        <th>Compuesto activo</th>
        <th>Laboratorio</th>
        <th>Descripción</th>
        <th>Estado</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let medicine of medicines">
        <td>{{ medicine.medicineName }}</td>
        <td>{{ medicine.activeIngredient }}</td>
        <td>{{ medicine.lab }}</td>
        <td>{{ medicine.description }}</td>
        <td>
            <select class="form-control" [(ngModel)]="medicine.status" (change)="updateMedicineStatus(medicine.id, medicine.status)">
                <option value="en curso">En curso</option>
                <option value="pendiente">Pendiente</option>
                <option value="finalizado">Finalizado</option>
            </select>

        </td>
    </tr>
    </tbody>
</table>
