<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt20">
            <div class = "col-md-6 offset-md-3 text-center">
                <div class="options">
                    <a routerLink="/historiaClinica" class="option">
                        <div class="option-box">
                            <img src="../../../../assets/MH.png" alt="Historia Clínica">
                            <span>Ver Mi Historia Clínica</span>
                        </div>
                    </a>
                    <a routerLink="/medicine/getMedicinesList" class="option">
                        <div class="option-box">
                            <img src="../../../../assets/Medicamentos.png" alt="Medicamentos">
                            <span>Ver Mis Medicamentos</span>
                        </div>
                    </a>
                    <a routerLink="/estudios" class="option">
                        <div class="option-box">
                            <img src="../../../../assets/Estudios.png" alt="Estudios">
                            <span>Ver Mis Estudios</span>
                        </div>
                    </a>
                    <a routerLink="/patient/medicsList" class="option">
                        <div class="option-box">
                            <img src="../../../../assets/Medicos.png" alt="Médicos">
                            <span>Ver Mis Médicos</span>
                        </div>
                    </a>
                    <a routerLink="/patient/generateLinkCode" class="option">
                        <div class="option-box">
                            <img src="../../../../assets/AtenderPaciente.png" alt="Médicos">
                            <span>Iniciar consulta médica</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
</div>
</div>