<h1 class="text-center">Portal Paciente</h1>
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt20">
            <div class = "col-md-6 offset-md-3 text-center">
                <div class="options">
                    <a routerLink="/patient/medicalHistoryList" class="option">
                        <div class="option-box">
                            <img src="../../../../assets/MH.png" alt="Historia Clínica">
                            <span>Ver Mi Historia Clínica</span>
                        </div>
                    </a>
                    <a routerLink="/patient/medicinesList" class="option">
                        <div class="option-box">
                            <img src="../../../../assets/Medicamentos.png" alt="Medicamentos">
                            <span>Ver Mis Medicamentos</span>
                        </div>
                    </a>
                    <a routerLink="/patient/analysisList" class="option">
                        <div class="option-box">
                            <img src="../../../../assets/Estudios.png" alt="Estudios">
                            <span>Ver Mis Estudios</span>
                        </div>
                    </a>
                    <a routerLink="/patient/medicsList" class="option">
                        <div class="option-box">
                            <img src="../../../../assets/Medicos.png" alt="Médicos">
                            <span>Ver Mis Médicos</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt20">
            <div class = "col-md-6 offset-md-3 text-center">
                <div class="options">
                    <a routerLink="/patient/all-medics-list" class="option">
                        <div class="option-box">
                            <img src="../../../../assets/Programar.png" alt="Médicos">
                            <span>Programar Consulta Médica</span>
                        </div>
                    </a>
                    <a routerLink="/patient/generateLinkCode" class="option">
                        <div class="option-box">
                            <img src="../../../../assets/Atender.png" alt="Médicos">
                            <span>Iniciar Consulta Médica</span>
                        </div>
                    </a>
                    <a routerLink="/patient/appointmentList" class="option">
                        <div class="option-box">
                            <img src="../../../../assets/MedicalAppointment.png" alt="Médicos">
                            <span>Ver Mis Consultas Médicas</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
</div>
</div>