<h1 class="text-center">Mis Medicamentos</h1>
<div class="row mb-3">
    <div class="col-12 text-center">
        <div class="d-inline-block">
            <select class="form-control" #statusSelect (change)="getMedicinesByStatus(statusSelect.value)">

                <option value="" disabled selected>Filtro por estado</option>
                <option value="En curso">En curso</option>
                <option value="Pendiente">Pendiente</option>
                <option value="Finalizado">Finalizado</option>
                <option value="santi">Sin Filtro</option>

            </select>
        </div>
    </div>
</div>
<br>

<table class="table table-striped">
    <thead class="table-dark">
    <tr>
        <th>Medicación</th>
        <th>Descripción</th>
        <th>Estado</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let medicine of medicines">
        <td>{{ medicine.name }}</td>
        <td>
            <div style="max-width: 300px;" class="expandable-text" (mouseenter)="showTooltip($event, medicine.description)" (mouseleave)="hideTooltip()">
                <span>{{ medicine.description?.length > 80 ? (medicine.description | slice:0:80) + '...' : medicine.description }}</span>
            </div>
        </td>
        <td>
            <select class="form-control" [(ngModel)]="medicine.status" (change)="updateMedicineStatus(medicine.medicineId, medicine.status)">
                <option value="" disabled selected>Ingrese estado</option>
                <option value="En curso">En curso</option>
                <option value="Pendiente">Pendiente</option>
                <option value="Finalizado">Finalizado</option>
            </select>
        </td>
    </tr>
    </tbody>
</table>

<!-- Tooltip flotante global -->
<div *ngIf="tooltipText" 
     class="global-tooltip" 
     [style.left.px]="tooltipX" 
     [style.top.px]="tooltipY">
    {{ tooltipText }}
</div>
