.edit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3fb5eb;
    color: white !important;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 0 auto; /* Agregar esta línea para centrar horizontalmente */
}
