<h1 class="text-center">Editar Medicamento</h1>
<br>
<form>
    <div class="form-group">
        <label for="medicineName">Medicación</label>
        <input type="text" class="form-control" id="medicineName" [(ngModel)]="medicine.medicineName" name="medicineName">
    </div>
    <div class="form-group">
        <label for="activeIngredient">Compuesto activo</label>
        <input type="text" class="form-control" id="activeIngredient" [(ngModel)]="medicine.activeIngredient" name="activeIngredient">
    </div>
    <div class="form-group">
        <label for="lab">Laboratorio</label>
        <input type="text" class="form-control" id="lab" [(ngModel)]="medicine.lab" name="lab">
    </div>
    <div class="form-group">
        <label for="description">Descripción</label>
        <textarea class="form-control" id="description" [(ngModel)]="medicine.description" name="description"></textarea>
    </div>
    <button class="btn btn-primary" (click)="saveMedicine()">Guardar</button>
</form>
