<h1 class="text-center">Medicamentos</h1>
<br>
<table class="table table-striped">
    <thead class="table-dark">
    <tr>
        <th>Medicación</th>
        <th>Compuesto activo</th>
        <th>Laboratorio</th>
        <th>Descripción</th>
        <!--<th>Estado</th>
        <th>Acciones</th>-->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let medicine of medicines">
        <td>{{ medicine.medicineName }}</td>
        <td>{{ medicine.activeIngredient }}</td>
        <td>{{ medicine.lab }}</td>
<!--        todo agregar botones para editar y eso-->
        <td>{{ medicine.description }}</td>
        <!--<td>{{ medicine.status }}</td>-->
        <!--<td>
            <button class="btn btn-primary" (click)="editMedicine(medicine)">Editar</button>
        </td>-->
    </tr>
    </tbody>
</table>


