<mat-toolbar color="primary" style="width: 100%; position: fixed; top: 0;">
    <a [routerLink]="'/'" mat-icon-button class="example-icon"
       aria-label="Example icon-button with menu icon"
       style="display: flex; justify-content: center">
        <img src="../../../../assets/LogoHC.png" alt="Menú">
    </a>
    <span>Mi Historia Clínica</span>
    <span class="example-spacer"></span>
    <a [routerLink]="'/'" mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" style="font-size: 16px;" *ngIf="!isPatientHomePage()">
        Cerrar sesión
    </a>
</mat-toolbar>
