<mat-toolbar color="primary" style="width: 100%; position: fixed; top: 0;">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with arrow back icon" *ngIf="!(isPrincipalPage()||isHomePage())" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Mi Historia Clínica</span>
    <span class="example-spacer"></span>
    <a [routerLink]="'/'" mat-button class="example-icon favorite-icon"
       aria-label="Example icon-button with heart icon"
       style="font-size: 16px;"
       *ngIf="isPatientPage()" (click)="logoutPatient()">
        Cerrar sesión
    </a>
    <a [routerLink]="'/'" mat-button class="example-icon favorite-icon"
       aria-label="Example icon-button with heart icon"
       style="font-size: 16px;"
       *ngIf="isMedicPage()" (click)="logoutMedic()">
        Cerrar sesión
    </a>
</mat-toolbar>
