<!DOCTYPE html>
<html>

<body>
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: -150px;">
            <div clazz="col-md-6 offset-md-3">
                <div class="container text-center" style="margin-bottom: -10px;">
                    <img src="../../../../assets/Programar.png" width="200" height="200">
                </div>
                <h1 class="text-center">Consulta Médica</h1>
                <div class="page-container" style="margin-bottom: -380px;">
                    <form (ngSubmit)="formSubmit()" style="margin-top: 20px;">

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Fecha:</mat-label>
                            <input required [(ngModel)]="turnoDTO.fechaTurno" name="fechaTurno" matInput placeholder="Ingrese la fecha del turno">
                        </mat-form-field>

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Hora:</mat-label>
                            <input required [(ngModel)]="turnoDTO.horaTurno" name="horaTurno" matInput placeholder="Ingrese la hora del turno">
                        </mat-form-field>

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Centro Médico:</mat-label>
                            <input required [(ngModel)]="turnoDTO.medicalCenter" name="medicalCenter" matInput placeholder="Ingrese el centro médico">
                        </mat-form-field>

                        <div class="container text-center">
                            <button class="boton">Crear</button>
                            <button type="reset" style="margin-left: 20px;" class="boton">Limpiar</button>
                        </div>

                    </form>
                    <br><br><br>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
