<!DOCTYPE html>
<html>

<head>
    <title>Crear historia clínica</title>
</head>

<body>
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: -150px;">
            <div clazz="col-md-6 offset-md-3">
                <div class="container text-center" style="margin-bottom: -10px;">
                    <img src="../../../../assets/MedicalAppointment.png" width="200" height="200">
                </div>
                <h1 class="text-center">Consulta Médica</h1>
                <div class="page-container" style="margin-bottom: -380px;">
                    <form (ngSubmit)="formSubmit()"  style="margin-top: 20px;">

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Motivo de consulta:</mat-label>
                            <input required [(ngModel)]="medicalAppointment.appointmentReason" name="appointmentReason" matInput
                                   placeholder="Ingrese el motivo de consulta">
                        </mat-form-field>

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Enfermedad actual:</mat-label>
                            <input required [(ngModel)]="medicalAppointment.currentIllness" name="currentIllness" matInput
                                   placeholder="Ingrese la enfermedad actual">
                        </mat-form-field>

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Exámen físico:</mat-label>
                            <input required [(ngModel)]="medicalAppointment.physicalExam" name="physicalExam" matInput
                                   placeholder="Ingrese los dátos del exámen físico">
                        </mat-form-field>

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Observaciones:</mat-label>
                            <input [(ngModel)]="medicalAppointment.observations" name="observations" matInput
                                   placeholder="Ingrese alergias si las hay">
                        </mat-form-field>

                        <div class="container text-center">
                            <button class="boton">Crear</button>
                            <button type="reset" style="margin-left: 20px;" class="boton">Limpiar</button>
                        </div>

                    </form>
                    <br><br><br>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
