<h1 class="text-center">Estudios</h1>
<h6 class="text-center">Paciente: {{ patient?.name }} {{ patient?.lastname }}, DNI: {{ patient?.dni }}</h6>
<div class="row mb-3">
    <div class="col-12 text-center">
        <div class="d-inline-block">
            <p>Filtrar por estado:</p>
            <select class="form-control" #statusSelect (change)="getAnalysisByStatus(statusSelect.value)">

                <option value="" disabled selected>Seleccione estado</option>
                <option value="en curso">En curso</option>
                <option value="pendiente">Pendiente</option>
                <option value="finalizado">Finalizado</option>
                <option value="santi">Sin Filtro</option>

            </select>
        </div>
    </div>
</div>
<br>

<table class="table table-striped">
    <thead class="table-dark">
    <tr>
        <th>Estudio</th>
        <th>Centro médico</th>
        <th>Descripción</th>
        <th>Estado</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let analysis of analysisList">
        <td>{{ analysis.name }}</td>
        <td>{{ analysis.medicalCenter }}</td>
        <td>{{ analysis.description }}</td>
        <td>{{ analysis.status }}</td>
        <td>
            <button class="btn btn-danger" (click)="deleteAnalysis(analysis)">Eliminar</button>
        </td>
    </tr>
    </tbody>
</table>

