<h1 class="text-center">Programar consulta médica</h1>
<!-- Filtros -->
<div class="row mb-3">
  <div class="col-md-6 mb-2">
    <select id="specialtySelect" class="form-control" [(ngModel)]="selectedSpecialty" (change)="onSpecialtyChange()">
      <option value="">Todas las especialidades</option>
      <option *ngFor="let specialty of specialties" [value]="specialty">{{specialty}}</option>
    </select>
  </div>
  <div class="col-md-6 mb-2">
    <select id="nameSelect" class="form-control" [(ngModel)]="selectedName" (change)="onNameChange()">
      <option value="">Todos los médicos</option>
      <option *ngFor="let name of names" [value]="name">{{name}}</option>
    </select>
  </div>
</div>

<table class="table table-striped">
    <thead class="table-dark">
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Especialidad</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let medic of filteredMedics">
        <td>{{medic.name}}</td>
        <td>{{medic.lastname}}</td>
        <td>{{medic.specialty}}</td>
        <td>
            <button class="btn btn-primary" style="background-color: #3fb5eb;" (click)="redirectToAddTurno(medic.medicId)">Agendar turno</button>
        </td>
    </tr>
    </tbody>
</table>
