<div class = "bootstrap-wrapper">
    <div class = "container">
        <div class = "row" style = "margin-top : 20px;">
            <div clazz = "col-md-6 offset-md-3">
                <div class = "container text-center">
                </div>
                <h1 class="text-center" style="font-size: 36px; margin-top: -100px;">Bienvenido a Mi Historia Clínica</h1>
                <div class="row mt20">
                    <div class = "col-md-6 offset-md-3 text-center">
                        <div class="options">
                            <a routerLink="/patient/login" class="option">
                                <div class="option-box">
                                    <img src="../../../../assets/Pacientes.png" alt="Medicamentos">
                                    <span>Portal paciente</span>
                                </div>
                            </a>
                            <a routerLink="/medic/login" class="option">
                                <div class="option-box">
                                    <img src="../../../../assets/Medicos.png" alt="Estudios">
                                    <span>Portal médico</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

