<h1 class = "text-center">Mis Pacientes</h1>
<h5 class="text-center">Médico:</h5>
<br>
<table class="table table-striped">
    <thead class="table-dark">
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>DNI</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let patient of patients">
        <td>{{patient.name}}</td>
        <td>{{patient.lastname}}</td>
        <td>{{patient.dni}}</td>
        <td>{{patient.email}}</td>
    </tr>
    </tbody>
</table>
