<div class = "bootstrap-wrapper">
    <div class = "container">
        <div class = "row" style = "margin-top : 20px;">
            <div clazz = "col-md-6 offset-md-3">
                <div class = "container text-center">
                    <img src = "../../../../assets/AgregarPaciente.png" width = "200" height = "200">
                </div>
                <h1 class = "text-center">Atender Paciente</h1>
                <form  (ngSubmit) = "formSubmit()">
                    <mat-form-field class = "full-width" appearance = "outline">
                        <mat-label>DNI Paciente:</mat-label>
                        <input required [(ngModel)] = "patient.dni" name = "dni" matInput placeholder="Ingrese el dni del paciente">
                    </mat-form-field>

                    <mat-form-field class = "full-width" appearance = "outline">
                        <mat-label>Código Paciente:</mat-label>
                        <input required [(ngModel)] = "patient.codigo" name = "codigo" matInput placeholder="Ingrese el código del paciente">
                    </mat-form-field>

                    <div class = "container text-center" style="margin-top: 10px;">
                        <button class="boton">Atender</button>
                        <button type="reset" style = "margin-left: 20px;" class="boton">Limpiar</button>
                    </div>

                </form>
                <br><br><br>
            </div>
        </div>
    </div>
</div>
