<h1 class="text-center">Medicamentos</h1>
<h6 class="text-center">Paciente: {{ patient?.name }} {{ patient?.lastname }}, DNI: {{ patient?.dni }}</h6>
<div class="row mb-3">
    <div class="col-12 text-center">
        <div class="d-inline-block">
            <p>Filtrar por estado:</p>
            <select class="form-control" #statusSelect (change)="getMedicinesByStatus(statusSelect.value)">

                <option value="" disabled selected>Seleccione estado</option>
                <option value="En curso">En curso</option>
                <option value="Pendiente">Pendiente</option>
                <option value="Finalizado">Finalizado</option>
                <option value="santi">Sin Filtro</option>

            </select>
        </div>
    </div>
</div>
<br>

<table class="table table-striped">
    <thead class="table-dark">
    <tr>
        <th>Medicación</th>
        <th>Descripción</th>
        <th>Estado</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let medicine of medicines">
        <td>{{ medicine.name }}</td>
        <td>{{ medicine.description }}</td>
        <td>{{ medicine.status }}</td>
        <td>
            <button class="btn btn-danger" (click)="deleteMedicine(medicine)">Eliminar</button>
        </td>
    </tr>
    </tbody>
</table>
