<h1 class="text-center">Medicamentos</h1>

<div class="row mb-3">
    <div class="col-12 text-center">
        <div class="d-inline-block">
            <p>Filtrar por estado:</p>
            <select class="form-control" #statusSelect (change)="getMedicinesByStatus(statusSelect.value)">

                <option value="" disabled selected>Seleccione estado</option>
                <option value="en curso">En curso</option>
                <option value="pendiente">Pendiente</option>
                <option value="finalizado">Finalizado</option>
                <option value="santi">Sin Filtro</option>

            </select>
        </div>
    </div>
</div>
<br>

<table class="table table-striped">
    <thead class="table-dark">
    <tr>
        <th>Medicación</th>
        <th>Compuesto activo</th>
        <th>Laboratorio</th>
        <th>Descripción</th>
        <th>Estado</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let medicine of medicines">
        <td>{{ medicine.medicineName }}</td>
        <td>{{ medicine.activeIngredient }}</td>
        <td>{{ medicine.lab }}</td>
        <td>{{ medicine.description }}</td>
        <td>{{ medicine.status }}</td>
        <td>
            <button class="btn btn-danger" (click)="deleteMedicine(medicine)">Eliminar</button>
        </td>
    </tr>
    </tbody>
</table>
