<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt20">
            <div class = "col-md-6 offset-md-3 text-center">
                <div class="options">
                    <a routerLink="/medic/addMedicine" class="option">
                        <div class="option-box">
                            <img src="../../../../assets/Medicamentos.png" alt="Medicamentos">
                            <span>Agregar Medicamento</span>
                        </div>
                    </a>
                    <a routerLink="/medic/addAnalysis" class="option">
                        <div class="option-box">
                            <img src="../../../../assets/Estudios.png" alt="Estudios">
                            <span>Agregar Estudio</span>
                        </div>
                    </a>
                    <a routerLink="/medicos" class="option">
                        <div class="option-box">
                            <img src="../../../../assets/Pacientes.png" alt="Pacientes">
                            <span>Ver Pacientes</span>
                        </div>
                    </a>
                </div>
                <!--                <button mat-raised-button color = "primary">Inicio</button>-->
            </div>
        </div>
    </div>
</div>