<div class = "bootstrap-wrapper">
    <div class = "container">
        <div class = "row" style = "margin-top : 20px;">
            <div clazz = "col-md-6 offset-md-3">
                <div class = "container text-center">
                    <img src = "../../../../assets/Medicos.png" width = "200" height = "200">
                </div>
                <h1 class = "text-center">Registro médico</h1>
                <form  (ngSubmit) = "formSubmit()">
                    <mat-form-field class = "full-width" appearance = "outline">
                        <mat-label>Nombre:</mat-label>
                        <input required [(ngModel)] = "medic.name" name = "username" matInput placeholder="Ingrese su nombre">
                    </mat-form-field>

                    <mat-form-field class = "full-width" appearance = "outline">
                        <mat-label>Apellido:</mat-label>
                        <input required [(ngModel)] = "medic.lastname" name = "surname" matInput placeholder="Ingrese su apellido">
                    </mat-form-field>

                    <mat-form-field class = "full-width" appearance = "outline">
                        <mat-label>Contraseña:</mat-label>
                        <input required [(ngModel)] = "medic.password" name = "password" matInput placeholder="Ingrese su contraseña">
                    </mat-form-field>

                    <mat-form-field class = "full-width" appearance = "outline">
                        <mat-label>DNI:</mat-label>
                        <input required [(ngModel)] = "medic.dni" name = "dni" matInput placeholder="Ingrese su DNI">
                    </mat-form-field>

                    <mat-form-field class = "full-width" appearance = "outline">
                        <mat-label>Mail:</mat-label>
                        <input required [(ngModel)] = "medic.email" name = "email" type="email" matInput placeholder="Digite su email">
                    </mat-form-field>

                    <mat-form-field class = "full-width" appearance = "outline">
                        <mat-label>Matrícula:</mat-label>
                        <input required [(ngModel)] = "medic.matricula" name = "matricula" matInput placeholder="Ingrese su numero de matricula">
                    </mat-form-field>

                    <mat-form-field class = "full-width" appearance = "outline">
                        <mat-label>Especialidad:</mat-label>
                        <input required [(ngModel)] = "medic.specialty" name = "specialty" matInput placeholder="Ingrese su especialidad">
                    </mat-form-field>

                    <div class = "container text-center" style="margin-top: 10px;">
                        <button class="boton">Registrar</button>
                        <button type="reset" style = "margin-left: 20px;" class="boton">Limpiar</button>
                    </div>

                </form>
                <br><br><br>
            </div>
        </div>
    </div>
</div>
